<a href="{{ search }}" class="header__icon header__search hide-mobile" aria-label="Search" data-drawer-toggle="search-drawer">
    <span class="icon icon-search" aria-hidden="true">{%- render 'theme-icon', icon: 'search' -%}</span>
</a>