{{ 'menu-drawer.css' | asset_url | stylesheet_tag: preload: true }}

<!-- Menu Drawer Overlay -->
<div class="drawer__overlay" id="drawer-overlay"></div>

<!-- Menu Drawer -->
<div class="drawer drawer--menu m-color-{{ section.settings.color_scheme }}" id="menu-drawer" role="dialog" aria-modal="true" aria-label="Menu">
  <div class="drawer__inner">
    <div class="drawer__main">
      <div class="drawer__header">
        <button class="drawer__close" aria-label="Close" data-drawer-close>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 6L6 18M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
      
      <div class="drawer__panels">

      </div>
    </div>
  </div>
</div>

<script src="{{ 'menu-drawer.js' | asset_url }}" defer="defer"></script>