<div class="product-card ">
      <div class="image-wrap">
        <a href="/products/detox-shampoo" aria-label="Detox Shampoo">
          
            <div class="cropped-image-wrapper">
              
                <div class="product-badges-wrapper" style="--badge-text-color: #322a26; --badge-background-color: #d6cbc4;">
                  
                    <span>best seller</span>
                  
                </div>
              

              
                <div class="product-awards-wrapper">
                  

<div class="product-award">
                      <img class="lazyautosizes ls-is-cached lazyloaded animate-out" data-widths="[360, 540, 720, 900, 1080, 1600, 2200, 2800]" data-aspectratio="1.0002083333333334" data-sizes="auto" alt="Circular logo with 'BEAUTYINC' and 'The Greatest Hair Care 2025' text on a white background" data-srcset="//theouai.com/cdn/shop/files/2025_PENSKE_BEAUTY-INC_THE-GREATEST-HAIR-CARE_LOGO_1_11_360x.png?v=1762289360 360w, //theouai.com/cdn/shop/files/2025_PENSKE_BEAUTY-INC_THE-GREATEST-HAIR-CARE_LOGO_1_11_540x.png?v=1762289360 540w, //theouai.com/cdn/shop/files/2025_PENSKE_BEAUTY-INC_THE-GREATEST-HAIR-CARE_LOGO_1_11_720x.png?v=1762289360 720w, //theouai.com/cdn/shop/files/2025_PENSKE_BEAUTY-INC_THE-GREATEST-HAIR-CARE_LOGO_1_11_900x.png?v=1762289360 900w, //theouai.com/cdn/shop/files/2025_PENSKE_BEAUTY-INC_THE-GREATEST-HAIR-CARE_LOGO_1_11_1080x.png?v=1762289360 1080w, //theouai.com/cdn/shop/files/2025_PENSKE_BEAUTY-INC_THE-GREATEST-HAIR-CARE_LOGO_1_11_1600x.png?v=1762289360 1600w, //theouai.com/cdn/shop/files/2025_PENSKE_BEAUTY-INC_THE-GREATEST-HAIR-CARE_LOGO_1_11_2200x.png?v=1762289360 2200w, //theouai.com/cdn/shop/files/2025_PENSKE_BEAUTY-INC_THE-GREATEST-HAIR-CARE_LOGO_1_11_2800x.png?v=1762289360 2800w" sizes="75px" srcset="//theouai.com/cdn/shop/files/2025_PENSKE_BEAUTY-INC_THE-GREATEST-HAIR-CARE_LOGO_1_11_360x.png?v=1762289360 360w, //theouai.com/cdn/shop/files/2025_PENSKE_BEAUTY-INC_THE-GREATEST-HAIR-CARE_LOGO_1_11_540x.png?v=1762289360 540w, //theouai.com/cdn/shop/files/2025_PENSKE_BEAUTY-INC_THE-GREATEST-HAIR-CARE_LOGO_1_11_720x.png?v=1762289360 720w, //theouai.com/cdn/shop/files/2025_PENSKE_BEAUTY-INC_THE-GREATEST-HAIR-CARE_LOGO_1_11_900x.png?v=1762289360 900w, //theouai.com/cdn/shop/files/2025_PENSKE_BEAUTY-INC_THE-GREATEST-HAIR-CARE_LOGO_1_11_1080x.png?v=1762289360 1080w, //theouai.com/cdn/shop/files/2025_PENSKE_BEAUTY-INC_THE-GREATEST-HAIR-CARE_LOGO_1_11_1600x.png?v=1762289360 1600w, //theouai.com/cdn/shop/files/2025_PENSKE_BEAUTY-INC_THE-GREATEST-HAIR-CARE_LOGO_1_11_2200x.png?v=1762289360 2200w, //theouai.com/cdn/shop/files/2025_PENSKE_BEAUTY-INC_THE-GREATEST-HAIR-CARE_LOGO_1_11_2800x.png?v=1762289360 2800w">
                    </div>

                    
                  
                </div>
              

              
<img class="lazyautosizes ls-is-cached lazyloaded animate-out" data-widths="[360, 540, 720, 900, 1080, 1600, 2200, 2800]" data-aspectratio="0.8623853211009175" data-sizes="auto" alt="Detox Shampoo" data-srcset="https://cld.accentuate.io/4439539646534/1612578976227/Updated_Detox_Site_Asset_PDP_Product_Thumbnail_1316x1526_Full_Size.jpg?v=1762289483146&amp;options=w_360 360w, https://cld.accentuate.io/4439539646534/1612578976227/Updated_Detox_Site_Asset_PDP_Product_Thumbnail_1316x1526_Full_Size.jpg?v=1762289483146&amp;options=w_540 540w, https://cld.accentuate.io/4439539646534/1612578976227/Updated_Detox_Site_Asset_PDP_Product_Thumbnail_1316x1526_Full_Size.jpg?v=1762289483146&amp;options=w_720 720w, https://cld.accentuate.io/4439539646534/1612578976227/Updated_Detox_Site_Asset_PDP_Product_Thumbnail_1316x1526_Full_Size.jpg?v=1762289483146&amp;options=w_900 900w, https://cld.accentuate.io/4439539646534/1612578976227/Updated_Detox_Site_Asset_PDP_Product_Thumbnail_1316x1526_Full_Size.jpg?v=1762289483146&amp;options=w_1080 1080w, https://cld.accentuate.io/4439539646534/1612578976227/Updated_Detox_Site_Asset_PDP_Product_Thumbnail_1316x1526_Full_Size.jpg?v=1762289483146&amp;options=w_1600 1600w, https://cld.accentuate.io/4439539646534/1612578976227/Updated_Detox_Site_Asset_PDP_Product_Thumbnail_1316x1526_Full_Size.jpg?v=1762289483146&amp;options=w_2200 2200w, https://cld.accentuate.io/4439539646534/1612578976227/Updated_Detox_Site_Asset_PDP_Product_Thumbnail_1316x1526_Full_Size.jpg?v=1762289483146&amp;options=w_2800 2800w" sizes="456px" srcset="https://cld.accentuate.io/4439539646534/1612578976227/Updated_Detox_Site_Asset_PDP_Product_Thumbnail_1316x1526_Full_Size.jpg?v=1762289483146&amp;options=w_360 360w, https://cld.accentuate.io/4439539646534/1612578976227/Updated_Detox_Site_Asset_PDP_Product_Thumbnail_1316x1526_Full_Size.jpg?v=1762289483146&amp;options=w_540 540w, https://cld.accentuate.io/4439539646534/1612578976227/Updated_Detox_Site_Asset_PDP_Product_Thumbnail_1316x1526_Full_Size.jpg?v=1762289483146&amp;options=w_720 720w, https://cld.accentuate.io/4439539646534/1612578976227/Updated_Detox_Site_Asset_PDP_Product_Thumbnail_1316x1526_Full_Size.jpg?v=1762289483146&amp;options=w_900 900w, https://cld.accentuate.io/4439539646534/1612578976227/Updated_Detox_Site_Asset_PDP_Product_Thumbnail_1316x1526_Full_Size.jpg?v=1762289483146&amp;options=w_1080 1080w, https://cld.accentuate.io/4439539646534/1612578976227/Updated_Detox_Site_Asset_PDP_Product_Thumbnail_1316x1526_Full_Size.jpg?v=1762289483146&amp;options=w_1600 1600w, https://cld.accentuate.io/4439539646534/1612578976227/Updated_Detox_Site_Asset_PDP_Product_Thumbnail_1316x1526_Full_Size.jpg?v=1762289483146&amp;options=w_2200 2200w, https://cld.accentuate.io/4439539646534/1612578976227/Updated_Detox_Site_Asset_PDP_Product_Thumbnail_1316x1526_Full_Size.jpg?v=1762289483146&amp;options=w_2800 2800w">
                <img class="hover-img lazyautosizes ls-is-cached lazyloaded animate-out" data-widths="[360, 540, 720, 900, 1080, 1600, 2200, 2800]" data-aspectratio="0.8623853211009175" data-sizes="auto" alt="Detox Shampoo" data-srcset="https://cld.accentuate.io/4439539646534/1612578976422/Product-Detox-Shampoo-1316x1526-Hover.jpeg?v=1688177168145&amp;options=w_360 360w, https://cld.accentuate.io/4439539646534/1612578976422/Product-Detox-Shampoo-1316x1526-Hover.jpeg?v=1688177168145&amp;options=w_540 540w, https://cld.accentuate.io/4439539646534/1612578976422/Product-Detox-Shampoo-1316x1526-Hover.jpeg?v=1688177168145&amp;options=w_720 720w, https://cld.accentuate.io/4439539646534/1612578976422/Product-Detox-Shampoo-1316x1526-Hover.jpeg?v=1688177168145&amp;options=w_900 900w, https://cld.accentuate.io/4439539646534/1612578976422/Product-Detox-Shampoo-1316x1526-Hover.jpeg?v=1688177168145&amp;options=w_1080 1080w, https://cld.accentuate.io/4439539646534/1612578976422/Product-Detox-Shampoo-1316x1526-Hover.jpeg?v=1688177168145&amp;options=w_1600 1600w, https://cld.accentuate.io/4439539646534/1612578976422/Product-Detox-Shampoo-1316x1526-Hover.jpeg?v=1688177168145&amp;options=w_2200 2200w, https://cld.accentuate.io/4439539646534/1612578976422/Product-Detox-Shampoo-1316x1526-Hover.jpeg?v=1688177168145&amp;options=w_2800 2800w" sizes="456px" srcset="https://cld.accentuate.io/4439539646534/1612578976422/Product-Detox-Shampoo-1316x1526-Hover.jpeg?v=1688177168145&amp;options=w_360 360w, https://cld.accentuate.io/4439539646534/1612578976422/Product-Detox-Shampoo-1316x1526-Hover.jpeg?v=1688177168145&amp;options=w_540 540w, https://cld.accentuate.io/4439539646534/1612578976422/Product-Detox-Shampoo-1316x1526-Hover.jpeg?v=1688177168145&amp;options=w_720 720w, https://cld.accentuate.io/4439539646534/1612578976422/Product-Detox-Shampoo-1316x1526-Hover.jpeg?v=1688177168145&amp;options=w_900 900w, https://cld.accentuate.io/4439539646534/1612578976422/Product-Detox-Shampoo-1316x1526-Hover.jpeg?v=1688177168145&amp;options=w_1080 1080w, https://cld.accentuate.io/4439539646534/1612578976422/Product-Detox-Shampoo-1316x1526-Hover.jpeg?v=1688177168145&amp;options=w_1600 1600w, https://cld.accentuate.io/4439539646534/1612578976422/Product-Detox-Shampoo-1316x1526-Hover.jpeg?v=1688177168145&amp;options=w_2200 2200w, https://cld.accentuate.io/4439539646534/1612578976422/Product-Detox-Shampoo-1316x1526-Hover.jpeg?v=1688177168145&amp;options=w_2800 2800w">
              
            </div>
          
        </a>

        <div class="ajax-quick-add-wrapper">

		<!-- ====== NON-BUNDLES ======== --><div class="variants-outer-wrapper">
						
							<div class="variants-wrapper">
								
<button type="button" class="js-quick-add-to-cart event_buy_now_add_to_cart text-only variant-btn split-aligner js-quick-add-to-cart--full-width" data-action-detail="39726738407494" aria-label="Add variant to cart" data-variant-id="39726738407494">
										<span>Full Size (10 fl oz)</span>
										<span>$34
</span>
									</button>
<button type="button" class="js-quick-add-to-cart event_buy_now_add_to_cart text-only variant-btn split-aligner js-quick-add-to-cart--full-width" data-action-detail="40213559214150" aria-label="Add variant to cart" data-variant-id="40213559214150">
										<span>Travel Size (3 fl oz)</span>
										<span>$16
</span>
									</button>
						</div>
							<button type="button" class="text-only cta-btn" style="width: 100%; text-align: center;">
								Make Selection
							</button>
						
					</div></div>

        

      </div>
    

    <div class="product-info">
      <div class="split-aligner">
        <!-- TITLE -->
        <p class="title">
          <a href="/products/detox-shampoo/">Detox Shampoo</a>
        </p>
        <!-- PRICE -->
        <p>
          $34

        </p>
      </div>

      <!-- ====== STOCK TEXT ======== --></div>
  </div>