<div class="product-block product-title-price">

  <h1>{{ product.title }}</h1>

  <div class="product-price">
    <span class="variant-compare-update" style="display:none"></span>
    <span class="variant-price-update">
      {{ product.price | money }}
    </span>
  </div>

</div>
