<div class="product-block product-title-price" {{ block.shopify_attributes }}>

  <h1 class="product-title">
    {{ product.title }}
  </h1>

  <div class="product-price">

    {% if product.compare_at_price > product.price %}
      <span class="price price--compare variant-compare-update">
        {{ product.compare_at_price | money }}
      </span>
    {% endif %}

    <span class="price variant-price-update">
      {{ product.price | money }}
    </span>

  </div>

</div>
