{{ 'header.css' | asset_url | stylesheet_tag: preload: true }}

<header class="main-header m-color-{{ section.settings.color_scheme }}" data-color-scheme="{{ section.settings.color_scheme }}">
  <div class="header-container">
    <!-- Off-canvas trigger -->
    <button class="header__menu-trigger" aria-label="Menu" data-drawer-toggle="menu-drawer">
      <span class="menu-icon">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </button>

    <!-- Logo -->
    <div class="header__logo">
      {% render 'logo' %}
    </div>

    <!-- Icons -->
    <div class="header__icons">
      {% if section.settings.enable_search %}
        {%- render 'header-search' -%}
      {% endif %}

      {% if section.settings.enable_account and shop.customer_accounts_enabled %}
        {% render 'header-account' %}
      {% endif %}

      {% if section.settings.enable_wishlist %}
        {%- render 'header-wishlist' -%}
      {% endif %}

      {% if section.settings.enable_cart %}
        {%- render 'header-cart' -%}
      {% endif %}
    </div>
  </div>
</header>



<script src="{{ 'header.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "inverse"
    },
    {
      "type": "header",
      "content": "Menu"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "header",
      "content": "Header elements"
    },
    {
      "type": "checkbox",
      "id": "enable_search",
      "label": "Enable search",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_account",
      "label": "Enable account",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_wishlist",
      "label": "Enable wishlist",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_cart",
      "label": "Enable cart",
      "default": true
    }
  ],
  "presets": [
    { "name": "Header" }
  ]
}
{% endschema %}