{{ 'sidebar.css' | asset_url | stylesheet_tag: preload: true }}
<div id="js-sidebar" class="m-sidebar expended">

  <div id="area-expended" class="m-sidebar__content"> <!--when data-trigger-section nav-drawer or search-drawer then need add class here expended-area-active  -->

    <!-- Logo -->
    <div class="m-sidebar__logo">
        {% render 'logo' %}
    </div>
    <!--   HAMBURGER   -->
      <button type="button" class="hamburger" aria-label="Open nav menu" data-trigger-section="nav-drawer">
          <div>
            <span></span>
            <span></span>
            <span></span>
          </div>
      </button>
    <!-- Navigation -->
    <nav class="m-sidebar__nav">
      <!-- Search -->
      <a href="#" class="js-open-section nav-icon-text-wrap"
          data-trigger-section="search-drawer" aria-label="Site search">
          <span class="js-open-icon-text" data-open-item="search-drawer-open-item">
              <span class="icon">
                  <!-- icon search -->
                {%- render 'theme-icon', icon: 'search' -%}
              </span>
              <strong class="text">Search</strong>
          </span>
          <span class="js-close-icon-text hide" data-close-item="search-drawer-close-item">
              <span class="icon">
              <!-- icon close -->
                {%- render 'theme-icon', icon: 'close' -%}
              </span>
              <strong class="text">Close</strong>
          </span>
      </a>
      <!-- ACCOUNT LINKS -->
      <a href="#" class="js-open-section nav-icon-text-wrap"
          data-trigger-section="account-drawer" aria-label="Site account">
          <span class="js-open-icon-text" data-open-item="account-drawer-open-item">
              <span class="icon">
                  <!-- icon account -->
                {%- render 'theme-icon', icon: 'account' -%}
              </span>
              <strong class="text">Account</strong>
          </span>
          <span class="js-close-icon-text hide" data-close-item="account-drawer-close-item">
              <span class="icon">
              <!-- icon close -->
                {%- render 'theme-icon', icon: 'close' -%}
              </span>
              <strong class="text">Close</strong>
          </span>
      </a>
      <a href="/cart">Bag <span class="cart-count">{{ cart.item_count }}</span></a>
    </nav>


  </div>
</div>
<div id="js-open-overlay" class="sidebar-overlay hide"></div>
{% render 'nav-drawer' %}
{% render 'search-drawer' %}
{% render 'account-drawer' %}
<script src="{{ 'sidebar.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Sidebar",
  "limit": 1,
  "enabled_on": { "groups": ["header"] },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "background-1"
    },
    {
      "type": "text",
      "id": "brand_text",
      "label": "Brand text",
      "default": "Noor"
    }
  ],
  "presets": [
    { "name": "Sidebar" }
  ]
}
{% endschema %}
