{{ 'sidebar.css' | asset_url | stylesheet_tag: preload: true }}



<div class="m-sidebar">

  <div class="m-sidebar__content">

    <!-- Logo -->
    <div class="m-sidebar__logo">
        {% render 'logo' %}
    </div>

    <!-- Navigation -->
    <nav class="m-sidebar__nav">
      <a href="/search">Search</a>
      <a href="/account">
        {% if customer %}My Account{% else %}Login / Signup{% endif %}
      </a>
      <a href="/cart">Bag ({{ cart.item_count }})</a>
    </nav>

    <!-- Promo -->
    <div class="m-sidebar__promo">
      <button class="m-sidebar__promo-btn">
        Get 15% off
      </button>
    </div>

  </div>
</div>


<script src="{{ 'sidebar.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Sidebar",
  "limit": 1,
  "enabled_on": { "groups": ["header"] },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "background-1"
    },
    {
      "type": "text",
      "id": "brand_text",
      "label": "Brand text",
      "default": "Noor"
    }
  ],
  "presets": [
    { "name": "Sidebar" }
  ]
}
{% endschema %}
