{{ 'sidebar.css' | asset_url | stylesheet_tag: preload: true }}



<div id="js-sidebar" class="m-sidebar expended">

  <div class="m-sidebar__content js-panel-level-1">

    <!-- Logo -->
    <div class="m-sidebar__logo">
        {% render 'logo' %}
    </div>
    <!--   HAMBURGER   -->
      <button type="button" class="hamburger" aria-label="Open nav menu">
          <div>
              <span></span>
              <span></span>
              <span></span>
          </div>
      </button>
    <!-- Navigation -->
    <nav class="m-sidebar__nav">
      <!-- ACCOUNT LINKS -->
      <a href="#" class="nav-search js-open-nav-section text-only nav-icon-text-wrap"
          data-nav-section="search" aria-label="Site search">
          <span class="js-open-icon-text">
              <span class="icon">
                  <!-- icon search -->
                {%- render 'theme-icon', icon: 'search' -%}
              </span>
              <strong class="text">Search</strong>
          </span>
          <span class="js-close-icon-text hide">
              <span class="icon">
              <!-- icon close -->
                {%- render 'theme-icon', icon: 'search' -%}
              </span>
              <strong class="text">Close</strong>
          </span>
      </a>
      <!-- ACCOUNT LINKS -->
      <a href="/account">
        {% if customer %}My Account{% else %}Login / Signup{% endif %}
      </a>
      <a href="/cart">Bag ({{ cart.item_count }})</a>
    </nav>


  </div>
</div>


<script src="{{ 'sidebar.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Sidebar",
  "limit": 1,
  "enabled_on": { "groups": ["header"] },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "background-1"
    },
    {
      "type": "text",
      "id": "brand_text",
      "label": "Brand text",
      "default": "Noor"
    }
  ],
  "presets": [
    { "name": "Sidebar" }
  ]
}
{% endschema %}
