 .announcement-bar.sticky-promo-wrap {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 340;
}
 .announcement-bar .promo-bar-wrap {
    height: 3.2rem;
    overflow: hidden;
    position: relative;
}
.promo-bar-wrap .promo-carousel-message {
    transition: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}
.marquee-text {
    position: relative;
    overflow: hidden;
    padding-top: .8rem;
    padding-bottom: .8rem;
    line-height: 1;
    -webkit-animation: fadeInMarquee .4s cubic-bezier(.49,.025,.65,.65);
    animation: fadeInMarquee .4s cubic-bezier(.49,.025,.65,.65);
}

.marquee__inner {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    position: relative;
    transform: translateZ(0);
}