/* Sticky wrapper */
.announcement-bar.sticky-promo-wrap {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 340;
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-text));
}

/* Container */
.promo-bar-wrap {
  height: 3.2rem;
  overflow: hidden;
  position: relative;
}

/* Clickable layer */
.promo-carousel-message {
  position: absolute;
  inset: 0;
  display: block;
  color: inherit;
  text-decoration: none;
}

/* Marquee area */
.marquee-text {
  overflow: hidden;
  padding: 0.8rem 0;
  line-height: 1;
}

/* Marquee animation */
.marquee__inner {
  display: flex;
  width: fit-content;
  white-space: nowrap;
  transform: translateZ(0);
  color: rgb(var(--color-text));
}

/* Individual items */
.marquee__inner span {
  padding: 0 2.5rem;
  white-space: nowrap;
}

/* Accessibility */
@media (prefers-reduced-motion: reduce) {
  .marquee__inner {
    animation: none;
  }
}

/* Keyframes */
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
