.featured-posts {
  height: 100vh;
}
.featured-posts .articles-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.featured-posts .article-pin-card {
    width: 100%;
    height: 100%;
    position: absolute;
}