.featured-posts {
  height: 100vh;
}

.articles-wrapper {
  position: relative;
  width: 100%;
  height: clamp(40rem, 60vh, 70rem);
  overflow: hidden;
}

.article-pin-card {
  position: absolute;
  inset: 0;
  opacity: 0;
  transform: translateY(40px);
}

.article-pin-card:first-child {
  opacity: 1;
  transform: translateY(0);
}

.featured-post-count {
  position: absolute;
  right: 6rem;
  top: 50%;
  transform: translateY(-50%);
}

.featured-post-count .active-counter {
  font-weight: 700;
}
