
.featured-posts {
  height: 100vh;
}

@media (min-width: 1025px) {
  .featured-posts {
    padding-top: 12vh;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .featured-posts {
    padding-top: clamp(5rem, 7vh, 20rem);
  }
}

@media (max-width: 767px) {
  .featured-posts {
    padding-top: clamp(5rem, 10vh, 20rem);
  }
}

@media (min-width: 1025px) {
  .featured-posts .cols-2 {
    grid-gap: 13.9rem;
  }
}

@media (max-width: 1024px) {
  .featured-posts .cols-2 {
    display: block;
  }
}

@media (max-width: 1024px) {
  .featured-posts .v-aligner {
    display: block !important;
  }
}

@media (min-width: 1025px) {
  .featured-posts .sh-container-lg {
    padding-left: 8.2rem;
    padding-right: 8.2rem;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .featured-posts .sh-container-lg {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

@media (max-width: 767px) {
  .featured-posts .sh-container-lg {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}

@media (min-width: 1025px) {
  .featured-posts .text-wrap {
    max-width: 36rem;
  }
}

@media (max-width: 1024px) {
  .featured-posts .text-wrap {
    max-width: 44.7rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.featured-posts .articles-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 767px) {
  .featured-posts .articles-wrapper {
    height: 43rem;
    height: clamp(35rem, 55vh, 50rem);
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .featured-posts .articles-wrapper {
    height: 78rem;
  }
}

@media (min-width: 1025px) {
  .featured-posts .articles-wrapper {
    height: 55.8rem;
    height: clamp(39.8rem, 60vh, 70rem);
  }
}

.featured-posts .article-pin-card {
  width: 100%;
  height: 100%;
  position: absolute;
}

@media (max-width: 1024px) {
  .featured-posts .article-pin-card {
    width: calc(100% - 16rem);
  }
}

@media (max-width: 767px) {
  .featured-posts .article-pin-card {
    width: calc(100% - 6rem);
  }
}

.featured-posts .image-item {
  display: block;
}

@media (min-width: 1025px) {
  .featured-posts .image-item {
    width: 100%;
    width: clamp(42rem, 60vh, 100%);
  }
}

@media (min-width: 1025px) and (max-width: 767px) {
  .featured-posts .image-item {
    width: clamp(20rem, 40vh, 100%) !important;
  }
}

@media (max-width: 1024px) {
  .featured-posts .image-item {
    margin-bottom: 4rem;
  }
}

@media (min-width: 1025px) {
  .featured-posts .image-item .cropped-image-wrapper {
    padding-bottom: clamp(42rem, 60vh, 100%);
  }
}

@media (max-width: 767px) {
  .featured-posts .image-item .cropped-image-wrapper {
    padding-bottom: clamp(20rem, 32vh, 100%) !important;
  }
}

.featured-posts h2 {
  margin-bottom: 3rem;
}

@media (min-width: 1025px) {
  .featured-posts h2 {
    margin-bottom: clamp(3rem, 5vh, 4.3rem);
  }
}

@media (max-width: 1024px) {
  .featured-posts .end-link,
  .featured-posts .text-item {
    text-align: center;
  }
}

.featured-posts .text-item .underline-link {
  letter-spacing: 0.2rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .featured-posts .text-item .underline-link {
    display: none;
  }
}

@media (max-width: 1024px) {
  .featured-posts .article-count {
    font-weight: 600;
  }
}

.featured-posts .end-link {
  letter-spacing: 0;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: underline;
}

@media (min-width: 1025px) {
  .featured-posts .end-link {
    margin-top: clamp(3rem, 6vh, 5.5rem);
  }
}

@media (max-width: 1024px) {
  .featured-posts .end-link {
    font-size: 1.6rem;
  }
}

@media (max-width: 1024px) {
  .featured-posts h5 {
    margin-bottom: 0;
  }
}

.featured-post-count {
  position: absolute;
  right: 6rem;
  top: calc(50% + 10px);
  transform: translateY(-50%);
  letter-spacing: 0;
  font-size: 1.4rem;
  line-height: 1.57143;
  font-weight: 600;
  text-transform: uppercase;
  font-weight: 300;
}

.featured-post-count p {
  margin-bottom: 1.8rem;
}

.featured-post-count .active-counter {
  font-weight: 700;
}
