.featured-posts {
  padding-top: clamp(5rem, 10vh, 12rem);
}

.article-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 6rem;
}

/* Swiper */
.article-swiper {
  height: clamp(40rem, 60vh, 70rem);
}

/* Fade fix */
.article-swiper .swiper-slide {
  opacity: 0 !important;
}

.article-swiper .swiper-slide-active {
  opacity: 1 !important;
}

/* Layout */
.article-slide {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
  align-items: center;
  height: 100%;
}

/* Number pagination */
.article-pagination {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.article-pagination__item {
  background: none;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  opacity: 0.4;
}

.article-pagination__item.is-active {
  opacity: 1;
  font-weight: 700;
}

@media (max-width: 1024px) {
  .article-wrapper {
    grid-template-columns: 1fr;
  }

  .article-pagination {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .article-slide {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 4rem;
  }
}
