
@media (min-width: 1025px) {
  .product-carousel .carousel-columns {
    display: flex;
  }

  .product-carousel .carousel-columns .collection-lead-info {
    width: 30%;
  }

  .product-carousel .carousel-columns .swiper-container-product {
    width: 70%;
  }
}

.product-carousel .swiper-slide {
  height: auto;
}

.product-carousel .swiper-container-product {
  padding-left: 8rem;
  padding-right: 4rem;
}

@media (max-width: 767px) {
  .product-carousel .swiper-container-product {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}

.product-carousel .cropped-image-wrapper .animate-out,
.product-carousel .swiper-container-product:active .cropped-image-wrapper img {
  transform: scale(1.04) translate(-50%, -50%);
}

.product-carousel .collection-lead-info {
  width: 78%;
  margin-left: auto;
}

@media (min-width: 1025px) {
  .product-carousel .collection-lead-info {
    padding-bottom: 5rem;
  }
}

.product-carousel .collection-lead-info h2 {
  margin-bottom: 4.2rem;
}

.product-carousel .product-card {
  opacity: 0;
  transform: translateX(4rem);
  transition: opacity 0.6s cubic-bezier(0.72, 0, 0.28, 1),
    transform 1.5s cubic-bezier(0, 0, 0.002, 1);
}

.product-carousel .animate-in .product-card {
  opacity: 1;
  transform: none;
}

.product-carousel .swiper-slide:first-of-type .product-card {
  transition-delay: 0.1s;
}

.product-carousel .swiper-slide:nth-of-type(2) .product-card {
  transition-delay: 0.2s;
}

.product-carousel .swiper-slide:nth-of-type(3) .product-card {
  transition-delay: 0.3s;
}

.product-carousel .swiper-slide:nth-of-type(4) .product-card {
  transition-delay: 0.4s;
}

.product-carousel .swiper-slide:nth-of-type(5) .product-card {
  transition-delay: 0.5s;
}

.product-carousel .swiper-slide:nth-of-type(6) .product-card {
  transition-delay: 0.6s;
}

.product-carousel .swiper-slide:nth-of-type(7) .product-card {
  transition-delay: 0.7s;
}

.product-carousel .swiper-slide:nth-of-type(8) .product-card {
  transition-delay: 0.8s;
}

.product-carousel .swiper-slide:nth-of-type(9) .product-card {
  transition-delay: 0.9s;
}

.product-carousel .swiper-slide:nth-of-type(10) .product-card {
  transition-delay: 1s;
}

.product-carousel .swiper-slide:nth-of-type(11) .product-card {
  transition-delay: 1.1s;
}

.product-carousel .swiper-slide:nth-of-type(12) .product-card {
  transition-delay: 1.2s;
}

.product-carousel .swiper-slide:nth-of-type(13) .product-card {
  transition-delay: 1.3s;
}

.product-carousel .swiper-slide:nth-of-type(14) .product-card {
  transition-delay: 1.4s;
}

.product-carousel .swiper-slide:nth-of-type(15) .product-card {
  transition-delay: 1.5s;
}

.product-carousel .swiper-slide:nth-of-type(16) .product-card {
  transition-delay: 1.6s;
}

.product-carousel .swiper-slide:nth-of-type(17) .product-card {
  transition-delay: 1.7s;
}

.product-carousel .swiper-slide:nth-of-type(18) .product-card {
  transition-delay: 1.8s;
}

.product-carousel .swiper-slide:nth-of-type(19) .product-card {
  transition-delay: 1.9s;
}

.product-carousel .swiper-slide:nth-of-type(20) .product-card {
  transition-delay: 2s;
}

.product-carousel .swiper-slide:nth-of-type(21) .product-card {
  transition-delay: 2.1s;
}

.product-carousel .swiper-slide:nth-of-type(22) .product-card {
  transition-delay: 2.2s;
}

.product-carousel .swiper-slide:nth-of-type(23) .product-card {
  transition-delay: 2.3s;
}

.product-carousel .swiper-slide:nth-of-type(24) .product-card {
  transition-delay: 2.4s;
}

.product-carousel .swiper-slide:nth-of-type(25) .product-card {
  transition-delay: 2.5s;
}

.product-carousel .swiper-slide:nth-of-type(26) .product-card {
  transition-delay: 2.6s;
}

.product-carousel .swiper-slide:nth-of-type(27) .product-card {
  transition-delay: 2.7s;
}

.product-carousel .swiper-slide:nth-of-type(28) .product-card {
  transition-delay: 2.8s;
}

.product-carousel .swiper-slide:nth-of-type(29) .product-card {
  transition-delay: 2.9s;
}

.product-carousel .swiper-slide:nth-of-type(30) .product-card {
  transition-delay: 3s;
}

.product-carousel .swiper-container-filter {
  margin-bottom: 3.6rem;
}

@media (min-width: 1025px) {
  .product-carousel .swiper-container-filter {
    width: calc(70.6% - 8rem);
    margin-left: auto;
    margin-right: 0;
  }
}

@media (min-width: 1801px) {
  .product-carousel .swiper-container-filter {
    width: calc(73.6% - 8rem);
    margin-left: auto;
    margin-right: 0;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .product-carousel .swiper-container-filter {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

@media (max-width: 767px) {
  .product-carousel .swiper-container-filter {
    padding-left: 2.4rem;
    padding-right: 4rem;
    margin-bottom: 3rem;
  }
}

.product-carousel .swiper-container-filter .swiper-slide {
  display: inline-block;
  width: auto;
  color: #525252;
}

.product-carousel .swiper-container-filter .swiper-slide.active {
  font-weight: 600;
  color: #231f20;
  text-decoration: underline;
}

.product-carousel .swiper-container-filter .swiper-slide:hover {
  color: #231f20;
  text-decoration: underline;
}