.product-carousel .swiper-container-filter {
    width: calc(73.6% - 8rem);
    margin-left: auto;
    margin-right: 0;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}