.product-carousel .swiper-container-filter {
    width: calc(73.6% - 8rem);
    margin-left: auto;
    margin-right: 0;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
.product-carousel .swiper-container-filter {
    width: calc(73.6% - 8rem);
    margin-left: auto;
    margin-right: 0;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
.product-carousel .swiper-container-filter {
    margin-bottom: 3.6rem;
}
.product-carousel .swiper-container-filter .swiper-slide {
    display: inline-block;
    width: auto;
}
.product-carousel .swiper-container-filter .swiper-slide a{
      color: rgb(var(--color-link));
}
.related-product-caps {
    letter-spacing: .02rem;
    font-size: 1.3rem;
    line-height: 1.53846;
    font-weight: 300;
    text-transform: uppercase;
}
.product-carousel .swiper-slide {
    height: auto;
}
.product-carousel .swiper-container-product {
    padding-left: 8rem;
    padding-right: 4rem;
}
.swiper-container-free-mode>.swiper-wrapper {
    transition-timing-function: ease-out;
    margin: 0 auto;
}
.v-aligner{
    display: flex;
    align-items: center;
}
.product-carousel .collection-lead-info {
    width: 78%;
    margin-left: auto;
}
.product-carousel .collection-lead-info {
    width: 78%;
    margin-left: auto;
}
.product-carousel .collection-lead-info {
    padding-bottom: 5rem;
}
.product-carousel .collection-lead-info h2 {
    margin-bottom: 4.2rem;
}
.product-carousel .collection-lead-info a .info-title{
    color: rgb(var(--color-heading));
}
/* Slider Css */
.swiper-slide.product-slide{
    display: none;
}