/* ================= DESKTOP LAYOUT ================= */

@media (min-width: 1025px) {
  .product-carousel {
    position: relative;
  }

  /* Lead text stays left, products scroll right */
  .product-carousel .collection-lead-info {
    width: 30%;
    margin-left: auto;
  }

  .product-carousel .swiper-container-product {
    width: 70%;
  }
}

/* ================= GENERAL SWIPER ================= */

.product-carousel .swiper-slide {
  height: auto;
}

.product-carousel .swiper-container-product {
  padding-left: 8rem;
  padding-right: 4rem;
}

@media (max-width: 767px) {
  .product-carousel .swiper-container-product {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}

/* ================= IMAGE HOVER / ANIMATION ================= */

.product-carousel .cropped-image-wrapper .animate-out,
.product-carousel .swiper-container-product:active
  .cropped-image-wrapper img {
  transform: scale(1.04) translate(-50%, -50%);
}

/* ================= LEAD INFO ================= */

.product-carousel .collection-lead-info {
  width: 78%;
  margin-left: auto;
}

@media (min-width: 1025px) {
  .product-carousel .collection-lead-info {
    padding-bottom: 5rem;
  }
}

.product-carousel .collection-lead-info h2 {
  margin-bottom: 4.2rem;
}

/* ================= PRODUCT CARD ANIMATION ================= */


/* ================= STAGGER ANIMATION ================= */



/* ================= FILTER TABS ================= */

.product-carousel .swiper-container-filter {
  margin-bottom: 3.6rem;
}

@media (min-width: 1025px) {
  .product-carousel .swiper-container-filter {
    width: calc(70.6% - 8rem);
    margin-left: auto;
    margin-right: 0;
  }
}

@media (min-width: 1801px) {
  .product-carousel .swiper-container-filter {
    width: calc(73.6% - 8rem);
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .product-carousel .swiper-container-filter {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

@media (max-width: 767px) {
  .product-carousel .swiper-container-filter {
    padding-left: 2.4rem;
    padding-right: 4rem;
    margin-bottom: 3rem;
  }
}

/* ================= FILTER TAB ITEMS ================= */

.product-carousel .swiper-container-filter .swiper-slide {
  width: auto;
  color: #525252;
}

.product-carousel .swiper-container-filter .swiper-slide.active {
  font-weight: 600;
  color: #231f20;
  text-decoration: underline;
}

.product-carousel .swiper-container-filter .swiper-slide:hover {
  color: #231f20;
  text-decoration: underline;
}
