.footer {

}


@media (min-width: 991px){
  .footer .footer__inner {
    display: flex;
    gap: 2rem;
  }
  .footer .width-5{
    width: 5%;
  }
  .footer .width-10{
    width: 10%;
  }
  .footer .width-15{
    width: 15%;
  }
  .footer .width-20{
    width: 20%;
  }
  .footer .width-25{
    width: 25%;
  }
  .footer .width-33{
    width: 33.33%;
  }
  .footer .width-40{
        width: 40%;
  }
  .footer .width-45{
    width: 45%;
  }
  .footer .width-50{
    width: 40%;
  }
}
/* Newsletter */
.footer__logo img{
  margin-bottom: 2rem; 
}
.footer .footer__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer .footer__form input[type="email"]:focus {
  outline: 1px solidrgb(187, 187, 187);
  border-radius: 0;
}
.footer .footer__form input[type="email"]::placeholder {
  color: red;
}

.footer .footer__checkbox {
  display: flex;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.footer .footer__submit {
  padding: 0.75rem;
  cursor: pointer;
}

/* Menu */
.footer .footer__menu-title {
  font-size: 1.1rem;
  font-weight: 600;
  background: none;
  border: none;
  padding: 0;
}

.footer .footer__menu-links {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: 1rem;
}

/* =====================
   MOBILE ACCORDION
===================== */
@media (max-width: 991px) {
 .footer .toggle-content {
    overflow: hidden;
    max-height: 0;
    transform: translateY(-6px);
    transition: max-height .5s cubic-bezier(0,0,.002,1), opacity .3s ease, transform .3s ease;
  }

 .footer .toggle-content.content-open {
    max-height: 1000px; /* large enough to show full content */
    transform: translateY(0);
  }
}


/* =====================
   Sidebar Spaceing
===================== */
@media (min-width: 991px) {
  .full-width .footer-sidebar-space{
    padding-left: 5rem;
  }
}
@media (min-width: 991px) and (max-width: 1499px) {
  .container-fluid .footer-sidebar-space,
  .container .footer-sidebar-space
  {
    padding-left: 7rem;
  }
}
@media (min-width: 1500px) and (max-width: 1700px) {
  .container-fluid .footer-sidebar-space,
  .container .footer-sidebar-space
  {
    padding-left: 5rem;
  }
}
