
.home-intro {
  color: #fff;
}

.home-intro .text-dark {
  color: #000;
}

@media (max-width: 1024px) {
  .home-intro {
    text-align: center;
  }
}

.home-intro .cropped-image-wrapper {
  padding-bottom: 80%;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .home-intro .cropped-image-wrapper {
    padding-bottom: 100%;
  }
}

@media (max-width: 767px) {
  .home-intro .cropped-image-wrapper {
    padding-bottom: 122%;
  }
}

@media (min-width: 1025px) {
  .home-intro h2 {
    max-width: 76rem;
  }
}

.home-intro .scaling-mask {
  z-index: 5;
  position: relative;
  background-color: #595959;
}

@media (min-width: 1025px) {
  .home-intro .scaling-mask {
    -webkit-clip-path: inset(17rem 33.9rem 17rem 33.9rem);
    clip-path: inset(17rem 33.9rem 17rem 33.9rem);
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .home-intro .scaling-mask {
    -webkit-clip-path: inset(7rem 16rem 12rem 16rem);
    clip-path: inset(7rem 16rem 12rem 16rem);
  }
}

@media (max-width: 767px) {
  .home-intro .scaling-mask {
    -webkit-clip-path: inset(7rem 9rem 10rem 9rem);
    clip-path: inset(7rem 9rem 10rem 9rem);
  }
}