.image-overlay-grid .image-overlay-end-details {
    position: absolute;
    bottom: 0;
    top: auto;
    width: 100%;
    padding: 0 9rem 3rem;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    color: var(--text-color,inherit);
}