.main-product {
  width: 100%;
}

.product-layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

@media (min-width: 992px) {
  .product-layout {
    grid-template-columns: 55% 45%;
  }
}

/* ============================
   PRODUCT TITLE & PRICE
============================ */
.hide-price{
  display: none;
}
.show-price{
  display: block;
}
.product-title-price {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

/* Title */
.product-title {
  margin-bottom: 2rem;
  line-height: 1;
  color: rgb(var(--color-heading));
}

/* Price wrapper */
.product-price {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Regular price */
.price--regular {
  font-size: 1.6rem;
  font-weight: 500;
  color: rgb(var(--color-price-regular));
}

/* Sale price */
.price--sale {
  font-size: 1.8rem;
  font-weight: 600;
  color: rgb(var(--color-price-sale));
}

/* Compare-at price */
.price--compare {
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: line-through;
  color: rgb(var(--color-subtext));
}

/* Mobile tuning */
@media (max-width: 768px) {
  .product-title {
    font-size: 2rem;
  }

  .price--sale,
  .price--regular {
    font-size: 1.5rem;
  }
}


.variant-buttons {
  display: flex;
  gap: 0.5rem;
}

.variant-btn input {
  display: none;
}

.variant-btn span {
  padding: 0.6rem 1rem;
  border: 1px solid #ccc;
  cursor: pointer;
}

.variant-btn input:checked + span {
  border-color: #000;
}
