.main-product {
  width: 100%;
  position: relative;
}

.product-layout {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 992px) {
  .product-layout {
    grid-template-columns: 55% 45%;
  }
}
.product-info {
  position: sticky;
  top: 18%;
  padding: 18%;
}
/* ============================
   PRODUCT TITLE & PRICE
============================ */
.hide-price{
  display: none;
}
.show-price{
  display: block;
}
.product-title-price {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

/* Title */
.product-title {
  line-height: 1;
  color: rgb(var(--color-heading));
}

/* Price wrapper */
.product-price {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Regular price */
.price--regular {
  font-size: 1.6rem;
  font-weight: 500;
  color: rgb(var(--color-price-regular));
}

/* Sale price */
.price--sale {
  color: rgb(var(--color-price-sale));
}

/* Compare-at price */
.price--compare {
  font-size: 0.8em;
  font-weight: 400;
  text-decoration: line-through;
  color: rgb(var(--color-subtext));
}



.variant-buttons {
  display: flex;
  gap: 0.5rem;
}

.variant-btn input {
  display: none;
}

.variant-btn span {
  padding: 0.6rem 1rem;
  border: 1px solid #ccc;
  cursor: pointer;
}

.variant-btn input:checked + span {
  border-color: #000;
}
