.main-product {
  width: 100%;
  position: relative;
}
@media (max-width: 991px){
  .main-product{
    padding-top: 5.2rem;
  }
}
  .product-info {
  padding: 1.2rem;
}

@media (min-width: 992px) {
  .product-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}
  .product-layout {
    grid-template-columns: 55% 45%;
  }
  .product-info {
  position: sticky;
  top: 0;
  padding: 5rem 7rem 0 5rem;
  max-width: 42rem;
}
}
/* Desktop / Laptop */
@media (min-width: 992px) and (max-width: 1320px) {
  .product-info {
  padding: 7rem 2rem 0 2rem;

}
}

/* ============================
   PRODUCT TITLE & PRICE
============================ */
.hide-price{
  display: none;
}
.show-price{
  display: block;
}
.product-title-price {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

/* Title */
.product-title {
  line-height: 1;
  color: rgb(var(--color-heading));
}

/* Price wrapper */
.product-price {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* Regular price */
.price--regular {
  color: rgb(var(--color-price-regular));
}

/* Sale price */
.price--sale {
  color: rgb(var(--color-price-sale));
}

/* Compare-at price */
.price--compare {
  font-size: 0.7em;
  font-weight: 400;
  text-decoration: line-through;
  color: rgb(var(--color-subtext));
}
.qty-cart-btn-wrap {
    display: grid;
    gap: .8rem;
    width: 100%;
    margin-bottom: .8rem;
    grid-template-columns: auto 1fr;
}
.product-form-wrapper .btn-add-to-cart {
    width: 100%;
    background: #222;
    border: 2px solid #222;
    padding: 0.7rem;
    color: #fff;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.product-form-wrapper .btn-buy-now,
.product-form-wrapper .btn-notify {
    width: 100%;
    background: transparent;
    border: 2px solid #222;
    padding: 0.7rem;
    color: #222;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 1.8rem;
}
.quantity-dropdown {
  position: relative;
  width: 6rem;
}

.qty-toggle {
  width: 100%;
  height: 100%;
  padding: 0 14px;
  border: 1px solid rgb(175 175 175);
  background: rgb(var(--color-background));
  cursor: pointer;
  text-align: left;
  font-size: inherit;
}

.qty-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: rgb(var(--color-background));
  border: 1px solid #ddd;
  padding: 4px 0;
  list-style: none;
  display: none;
  z-index: 10;
}

.quantity-dropdown.is-open .qty-list {
  display: block;
}

.qty-item {
  padding: 10px 14px;
  cursor: pointer;
}

.qty-item:hover{
  background: #222;
  color: #fff;
}

.qty-item.is-selected {
  background: #353535;
  color: #fff;
}
/* ============================
   variant selector
============================ */
fieldset.variant-group {
    border-color: rgb(211 211 211 / 60%);
}
.variant-selector{
  margin-bottom: 1rem;
}

.variant-buttons {
    display: flex;
    gap: .5rem;
    padding: 0.6rem 0;
}
.variant-btn input {
  display: none;
}

.variant-btn span {
  padding: 0.6rem 1rem;
  border: 1px solid #ccc;
  cursor: pointer;
}

.variant-btn input:checked + span {
  border-color: #000;
}

/* ============================
   Product main description
============================ */
.main-description{
  margin-bottom: 2rem;
  font-size: var(--font-size-body);
  line-height: 1.5;
}