/* ============================
   MAIN PRODUCT LAYOUT
============================ */
.main-product {
  width: 100%;
  position: relative;
}

@media (max-width: 991px) {
  .main-product {
    padding-top: 5.2rem;
  }
}

/* ============================
   PRODUCT LAYOUT & INFO
============================ */
.main-product .product-info {
  padding: 1.2rem;
}

@media (min-width: 992px) {
 .main-product .product-layout {
    display: grid;
    grid-template-columns: 55% 45%;
    align-items: start;
  }

 .main-product .product-info {
    position: sticky;
    top: 0;
    padding: 5rem 7rem 0 5rem;
    max-width: 42rem;
  }
}

/* Desktop / Laptop */
@media (min-width: 992px) and (max-width: 1320px) {
 .main-product .product-info {
    padding: 7rem 2rem 0 2rem;
  }
}

/* ============================
   PRODUCT TITLE & PRICE
============================ */
.main-product .hide-price {
  display: none;
}

.main-product .show-price {
  display: block;
}

.main-product .product-title-price {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

/* Title */
.main-product .product-title {
  line-height: 1;
  color: rgb(var(--color-heading));
}

/* Price wrapper */
.main-product .product-price {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* Prices */
.main-product .price--regular {
  color: rgb(var(--color-price-regular));
}

.main-product .price--sale {
  color: rgb(var(--color-price-sale));
}

.main-product .price--compare {
  font-size: 0.7em;
  font-weight: 400;
  text-decoration: line-through;
  color: rgb(var(--color-subtext));
}

/* ============================
  Product reviews counter
============================ */
.main-product .product-reviews {
  font-size: 0.9rem;
  color: rgb(var(--color-subtext));
  margin-bottom: 1.2rem;
}

/* ============================
   ADD TO CART / BUY BUTTONS
============================ */
.main-product .qty-cart-btn-wrap {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.8rem;
  width: 100%;
  margin-bottom: 0.8rem;
}

.main-product .product-form-wrapper .btn-add-to-cart {
  width: 100%;
  padding: 0.7rem;
  background: #222;
  border: 2px solid #222;
  color: #fff;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.main-product .product-form-wrapper .btn-add-to-cart:hover {
  background: transparent;
  color: #222;
}
.main-product .product-form-wrapper .btn-buy-now,
.main-product .product-form-wrapper .btn-notify {
  width: 100%;
  padding: 0.7rem;
  background: transparent;
  border: 2px solid #222;
  color: #222;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 1.8rem;
}
.main-product .product-form-wrapper .btn-buy-now:hover,
.main-product .product-form-wrapper .btn-notify:hover {
  background: #222;
  color: #fff;
}
/* ============================
   QUANTITY DROPDOWN
============================ */
.main-product .quantity-dropdown {
  position: relative;
  width: 6rem;
}

.main-product .qty-toggle {
  width: 100%;
  height: 100%;
  padding: 0 14px;
  border: 1px solid rgb(175 175 175);
  background: rgb(var(--color-background));
  cursor: pointer;
  text-align: left;
  font-size: inherit;
}

.main-product .qty-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: rgb(var(--color-background));
  border: 1px solid #ddd;
  padding: 4px 0;
  list-style: none;
  display: none;
  z-index: 10;
}

.main-product .quantity-dropdown.is-open .qty-list {
  display: block;
}

.main-product .qty-item {
  padding: 10px 14px;
  cursor: pointer;
}

.main-product .qty-item:hover {
  background: #222;
  color: #fff;
}

.main-product .qty-item.is-selected {
  background: #353535;
  color: #fff;
}

/* ============================
   VARIANT SELECTOR
============================ */
.main-product fieldset.variant-group {
  border-color: rgb(211 211 211 / 60%);
}

.main-product .variant-selector {
  margin-bottom: 1rem;
}

.main-product .variant-buttons {
  display: flex;
  gap: 0.5rem;
  padding: 0.6rem 0;
}

.main-product .variant-btn input {
  display: none;
}

.main-product .variant-btn span {
  padding: 0.6rem 1rem;
  border: 1px solid #ccc;
  cursor: pointer;
}

.main-product .variant-btn input:checked + span {
  border-color: #000;
}

/* ============================
   PRODUCT DESCRIPTION
============================ */
 .main-product .main-description {
  margin-bottom: 2rem;
  line-height: 1.5;
}

/* ============================
   PRODUCT Short DESCRIPTION
============================ */
  .main-product .short-description {
    margin-bottom: 2rem;
    line-height: 1.5;
  }
/* ============================
    Breadcrumbs
============================ */
.main-product .product-breadcrumb {
  font-size: 0.7em;
  margin-bottom: 1rem;
}
/* ============================
   Rich Text Content
============================ */
.main-product .richtext {
  margin-bottom: 1.2rem;
}
/* ============================
   Product metadata
============================ */
.main-product .product-metadata {
  font-size: 1em;
  color: rgb(var(--color-subtext));
  margin-bottom: 2rem;
}
.main-product .product-metadata ul {
  list-style: none;
  padding: 0;
}
.main-product .product-metadata ul li {
  margin-bottom: 0.7rem;
}

/* ============================
  Collection label
============================ */
.main-product .product-collection {
    position: relative;
    left: -10rem;
    font-weight: 600;
    font-size: 1.5em;
    color: rgb(var(--color-subtext));
    margin-bottom: 1.2rem;
    letter-spacing: 8px;
    line-height: 1.5;
    text-transform: uppercase;
    padding-right: 2rem;
}
.main-product .product-collection .collection-label {
  font-weight: 600;
  margin-bottom: 0.2rem;
}
@media (max-width: 992px) {
  .main-product .product-collection{
    left: 0;
    font-size: 1em;
    letter-spacing: 4px;
    padding-right: 0;
  }
}


/* ============================
  empty space styles
============================ */
.empty-space {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.empty-space .divider {
  width: 100%;
  height: 1px;
  background-color: rgb(var(--border-color));
}

