.password-section {
    position: relative;
    width: 100%;
    height: 100vh;
}
.password-section .container-fluid{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
}
.password-section .password-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.password-section .password-background img {
 height: 100%;
 object-fit: cover;
}
.password-section .site-logo {
    display: block;
    max-width: 200px;
    margin: 0 auto;
}