/* ============================
   Password page styles
============================ */
.password-section {
    position: relative;
    width: 100%;
    height: 100vh;
}
.password-section .container-fluid{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
}
.password-section .password-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.password-section .password-background img {
 height: 100%;
 width: 100%;
 object-fit: cover;
}
.password-section .inner-section {
    background: rgb(255 255 255 / 15%);
    padding: 3rem;
    border-radius: 0.5rem;
    backdrop-filter: blur(3px);
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 50rem;
}
/* ============================
   Site logo styles
============================ */
.password-section .site-logo {
    display: block;
    max-width: 200px;
    margin: 0 auto 1.5rem;
}
/* ============================
   wave text styles
============================ */
.password-section .text-wave {
    margin: 0 auto 4rem;
}
.password-section .waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 60px;
}
.password-section .waviy span {
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 2.5s infinite;
    animation-delay: calc(.2s * var(--i));
    text-shadow: 2px 2px 4px rgb(0 0 0 / 15%);
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-18px)
  }
}
/* ============================
   Launch date styles
============================ */
.password-section .launch-date {
  margin-bottom: 1rem;
}
.password-section .flipdown {
  margin: auto;
}
.password-section .launch-date h3,
.password-section .launch-date h2 {
  margin-bottom: 0.5rem;
}
.password-section h3, .password-section h2, .password-section h4 {
    text-shadow: 2px 2px 4px rgba(0,0,0,.5);
    margin-bottom: .5rem;
    letter-spacing: 1px;
}
.password-section p {
    font-size: .9em;
    text-align: left;
    margin-bottom: .5rem;
    color: #fff;
    letter-spacing: 1px;
}
/* ============================
  form styles
============================ */
.password-section .password-form-wrapper,
.password-section .notify-me{
    max-width: 30rem;
        margin: auto;
}
.password-section .button, .password-section button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 0 10px 10px 0;
    border: none;
    background: #222;
    color: #fff;
    font-size: .95rem;
    font-weight: 600;
    cursor: pointer;
    transition: transform .2s ease,box-shadow .2s ease;
    height: 3rem;
    width: 10rem;
    line-height: 0;
}

.password-section .button:hover,
.password-section button:hover {
  box-shadow: 0 4px 10px rgba(7, 7, 7, 0.4);
}

.password-section .submit-group {
    display: flex;
    gap: 0;
    height: 4rem;
}
.password-section input {
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 10px 0 0 10px;;
  border: 1px solid #222;
  color: inherit;
  margin-bottom: 1rem;
}
.password-section input::placeholder {
    color: #afaeae;
    font-size: .8em;
    font-weight: 300;
}
.password-section input:focus {
    outline: none;
}
.password-section label {
    display: none;
}
/* ============================
   Notify me form styles
============================ */
/* ============================
   Responsive
============================ */
@media (max-width: 640px) {
  .password-section .inner-section {
    padding: 1.5rem;
  }
.password-section .text-wave {
    margin: 0 auto 1.5rem;
}
  .password-section .waviy {
    font-size: 48px;
  }
}