.password-section .password-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.password-section .password-background img {
 height: 100%;
}
.password-section .site-logo {
    display: block;
    max-width: 200px;
}