/* ============================
   Password page styles
============================ */
.password-section {
    position: relative;
    width: 100%;
    height: 100vh;
}
.password-section .container-fluid{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
}
.password-section .password-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.password-section .password-background img {
 height: 100%;
 width: 100%;
 object-fit: cover;
}
/* ============================
   Site logo styles
============================ */
.password-section .site-logo {
    display: block;
    max-width: 200px;
    margin: 0 auto;
}
/* ============================
   wave text styles
============================ */
.password-section .waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 60px;
}
.password-section .waviy span {
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 2.5s infinite;
  animation-delay: calc(.2s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}
/* ============================
   Launch date styles
============================ */

/* ============================
   Password form styles
============================ */

/* ============================
   Notify me form styles
============================ */