.product-card .image-wrap {
    display: block;
    margin-bottom: 2.5rem;
    position: relative;
}
.product-card .image-wrap .cropped-image-wrapper {
    padding-bottom: 114%;
}
.cropped-image-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 60%;
    overflow: hidden;
}