.product-card .image-wrap {
    display: block;
    margin-bottom: 2.5rem;
    position: relative;
}
.cropped-image-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 110%;
    overflow: hidden;
}
.product-card .cropped-image-wrapper .product-badges-wrapper {
    position: absolute;
    left: 5px;
    top: 5px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
    gap: 10px;
}
.product-card .cropped-image-wrapper .product-badges-wrapper span {
    padding: 2px 8px 3px;
    background: var(--badge-background-color);
    color: var(--badge-text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: .42px;
    text-transform: uppercase;
}