.product-card .image-wrap {
    display: block;
    margin-bottom: 2.5rem;
    position: relative;
}
.cropped-image-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
}