.product-card .image-wrap {
    display: block;
    margin-bottom: 2.5rem;
    position: relative;
}
.cropped-image-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 110%;
    overflow: hidden;
}
.product-card .cropped-image-wrapper .product-badges-wrapper {
    position: absolute;
    left: 5px;
    top: 5px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
    gap: 10px;
}
.product-card .cropped-image-wrapper .product-badges-wrapper span {
    padding: 2px 8px 3px;
    background: var(--badge-background-color);
    color: var(--badge-text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: .42px;
    text-transform: uppercase;
}
.product-card .image-wrap .cropped-image-wrapper img {
    transition: all .8s cubic-bezier(0,0,.002,1);
}
.cropped-image-wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    transform: translate(-50%,-50%);
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: auto;
    height: auto;
}
.product-card .image-wrap .hover-img {
    opacity: 0;
    transform: translate(-50%,-50%) scale(1.08);
}
.product-card .image-wrap:hover .hover-img {
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
}
/* Button Style */
.product-card .cart-button-wrapper {
    font-weight: 400;
    letter-spacing: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    margin-bottom: 0;
    width: 100%;
    background: #fff;
    z-index: 3;
    text-align: left;
    transition: all .6s ease;
    padding: 12px 24px;
}
.product-card .image-wrap:hover .cart-button-wrapper {
    opacity: 1;
}
.product-card .add-to-cart-btn {
    width: 100%;
    height: auto;
    background: transparent;
    font-size: 20px;
    font-family: inherit;
    text-transform: inherit;
    color: inherit;
}

.product-card .cart-button-wrapper .variants-wrapper {
    opacity: 0;
    transition: all .6s ease;
    padding: 20px 6px;
    height: 0;
    overflow: hidden;
}
.product-card .cart-button-wrapper:hover .variants-wrapper {
    opacity: 1;
    visibility: visible;
    transform: none;
    pointer-events: auto;
    height: auto;
}

.product-card .variant-btn {
    width: 100%;
    background: transparent;
    height: auto;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.product-card .variant-btn:hover {
text-decoration: underline;
}