.product-media__thumbs {
    width: 100%;
}

.product-media__thumbs img {
    width: 100%;
    height: auto;
    cursor: pointer;
}
.product-media video {
    width: 100%;
    height: auto;
    max-height: 94vh;
    display: block;
    object-fit: cover;
    object-position: center;
}

