.shopify-section-search {
    position: fixed;
    height: 100%;
    width: 100%;
    max-width: 700px;
    background: #fff;
    z-index: 9;
    transition: all .4s ease-in-out;
    transform: translateX(-100%);
}
.shopify-section-search.search-drawer-open {
  transform: translateX(0);
  visibility: visible;
  pointer-events: auto;
}