.shopify-section-search {
  position: fixed;
  height: 100%;
  width: 100%;
  max-width: 700px;
  background: #fff;
  z-index: 9;
  transform: translateX(-100%);
  transition: transform .4s ease;
  visibility: hidden;
  pointer-events: none;
}
.shopify-section-search.search-drawer-open {
  transform: translateX(0);
  visibility: visible;
  pointer-events: auto;
  transition: transform .4s ease-in-out;
}