.m-sidebar {
  position: fixed;
  inset: 0 auto 0 0;
  width: 100%;
  max-width: 420px;
  color: #fff;
  transition: transform .35s ease;
  z-index: 90;
}


.m-sidebar__media {
  position: absolute;
  inset: 0;
}

.m-sidebar__media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.m-sidebar__content {
  position: relative;
  z-index: 1;
  height: 100%;
  padding: 32px;
}


