.m-sidebar {
  position: fixed;
  inset: 0 auto 0 0;
  width: 100%;
  max-width: 420px;
  color: #fff;
  transition: transform .35s ease;
  z-index: 90;
}


.m-sidebar__content {
  position: relative;
  z-index: 1;
  height: 100%;
  padding: 32px;
}
.hamburger {
  cursor: pointer;
  width: 3rem;
  height: calc(1.8rem + 2px);
  position: relative;
  overflow: hidden;
}

.hamburger span {
  display: block;
  border-bottom: 2px solid #231f20;
  width: 100%;
  position: absolute;
  height: 1px;
  transform: translateX(-110%);
  animation: slide-in-hamburger .5s cubic-bezier(0,0,.002,1) forwards;
}

/* Stagger order */
.hamburger span:nth-child(1) { animation-delay: 0s; }
.hamburger span:nth-child(2) { animation-delay: .12s; width: 2.2rem; }
.hamburger span:nth-child(3) { animation-delay: .24s; }

/* Stop animation after load */
.hamburger.loaded span {
  animation: none;
  transform: none;
}
