.m-sidebar {
  position: fixed;
  inset: 0 auto 0 0;
  width: 100%;
  max-width: 320px;
  color: #fff;
  transition: all .8s cubic-bezier(0,0,.002,1);
  z-index: 90;
}


.m-sidebar__content {
  position: relative;
  z-index: 1;
  height: 100%;
  padding: 32px;
}
.m-sidebar__content .m-sidebar__logo {
    margin-bottom: 50px;
}
/* Hamburger */
.m-sidebar__content .hamburger {
    cursor: pointer;
    margin-bottom: 50px;
    width: 2.5rem;
    height: calc(1.5rem + 2px);
    padding-bottom: 2px;
    position: relative;
    z-index: 201;
    transform: translateY(.2rem);
    transition: all .5s cubic-bezier(0,0,.002,1);
    overflow: hidden;
    background: transparent;
}
.m-sidebar__content .hamburger span {
    display: block;
    border-bottom: 2px solid #231f20;
    width: 100%;
    position: absolute;
    height: 1px;
    transition: all .4s ease-in-out;
    transform: translateX(-125%);
    -webkit-animation: slide-in-hamburger .5s cubic-bezier(0,0,.002,1) forwards;
    animation: slide-in-hamburger .5s cubic-bezier(0,0,.002,1) forwards;
    animation-fill-mode: both;
}
.m-sidebar__content .hamburger.loaded span {
    -webkit-animation: none;
    animation: none;
    transform: none;
}
.m-sidebar__content .hamburger span:first-of-type {
    top: 0;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}
.m-sidebar__content .hamburger span:nth-of-type(2) {
    top: calc(50% - 1px);
    width: 1.8rem;
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}
.m-sidebar__content .hamburger span:last-of-type {
    top: calc(100% - 2px);
    -webkit-animation-delay: .7s;
    animation-delay: .7s;
}
