.m-sidebar {
  position: fixed;
  inset: 0 auto 0 0;
  width: 100%;
  transition: all .8s cubic-bezier(0,0,.002,1);
  z-index: 90;
}
.expended{
    max-width: 320px;
}
.minimal{
    max-width: 220px;
}
.m-logo__image {
  transition: all .8s cubic-bezier(0,0,.002,1);
}
.minimal .m-logo__image {
  max-width: calc(var(--logo-desktop-width) - 60px);
}
.m-sidebar__content {
  position: relative;
  z-index: 1;
  height: 100%;
  padding: 32px;
}
.m-sidebar__content a{
  /* color: #231f20; */
  color: #fff;
}
.m-sidebar__content .m-sidebar__logo {
    margin-bottom: 50px;
}
/* Hamburger */
.m-sidebar__content .hamburger {
    cursor: pointer;
    margin-bottom: 50px;
    width: 2.5rem;
    height: calc(1.5rem + 2px);
    padding-bottom: 2px;
    position: relative;
    z-index: 201;
    transform: translateY(.2rem);
    transition: all .5s cubic-bezier(0,0,.002,1);
    overflow: hidden;
    background: transparent;
}
.m-sidebar__content .hamburger span {
    display: block;
    /* border-bottom: 2px solid #231f20; */
    border-bottom: 2px solid #fff;
    width: 100%;
    position: absolute;
    height: 1px;
    transition: all .4s ease-in-out;
    transform: translateX(-125%);
    -webkit-animation: slide-in-hamburger .5s cubic-bezier(0,0,.002,1) forwards;
    animation: slide-in-hamburger .5s cubic-bezier(0,0,.002,1) forwards;
    animation-fill-mode: both;
}
.m-sidebar__content .hamburger.loaded span {
    -webkit-animation: none;
    animation: none;
    transform: none;
}
.m-sidebar__content .hamburger span:first-of-type {
    top: 0;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}
.m-sidebar__content .hamburger span:nth-of-type(2) {
    top: calc(50% - 1px);
    width: 1.8rem;
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}
.m-sidebar__content .hamburger span:last-of-type {
    top: calc(100% - 2px);
    -webkit-animation-delay: .7s;
    animation-delay: .7s;
}
.m-sidebar__content .hamburger.is-active span:first-of-type {
top: calc(50% - 1px);
transform: rotate(-45deg)!important;
}
.m-sidebar__content .hamburger.is-active span:nth-of-type(2) {
 display: none;
}
.m-sidebar__content .hamburger.is-active span:last-of-type {
top: calc(50% - 1px);
transform: rotate(45deg)!important;
}
.m-sidebar__nav a {
    display: block;
    margin-bottom: 50px;
}
/* Bag */
.m-sidebar__content .js-open-icon-text {
    position: relative;
}
.m-sidebar__content .cart-count-icon {
    position: absolute;
    top: -13px;
    left: 14px;
    background: #231f20;
    height: 20px;
    width: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.expended .m-sidebar__nav a .js-open-icon-text .icon{
    display: none;
}
.expended .m-sidebar__nav a .js-open-icon-text .icon{
    display: none;
}
.minimal .m-sidebar__nav a .js-open-icon-text .text{
    display: none;
}
.minimal .expended-area-active .m-sidebar__nav a .js-open-icon-text .icon{
    display: none;
}
.minimal .expended-area-active .m-sidebar__nav a .js-open-icon-text .text{
    display: block !important; 
}
.sidebar-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #321c0061;
    z-index: 8;
    cursor: pointer;
}

body.disable-scrollbars {
  overflow: hidden;
}

/* Scrolling to color change */
.color-dark{
    color: #231f20 !important;
}
.m-sidebar__content .color-dark .cart-count-icon {
    background: #231f20 !important;
    color: #fff !important;
}
.m-sidebar__content .hamburger.color-dark span {
    border-color: #231f20;
}
.color-light{
    color: #fff !important;
}
.m-sidebar__content .color-light .cart-count-icon {
    background: #fff !important;
    color: #231f20 !important;
}
.m-sidebar__content .hamburger.color-light span {
    border-color: #fff;
}
.expended-area-active .color-dark,
.expended-area-active .color-light{
    color: #231f20 !important;
}
