.m-sidebar {
  position: fixed;
  inset: 0 auto 0 0;
  width: 100%;
  max-width: 420px;
  color: #fff;
  transition: transform .35s ease;
  z-index: 90;
}


.m-sidebar__content {
  position: relative;
  z-index: 1;
  height: 100%;
  padding: 32px;
}
.hamburger {
  cursor: pointer;
  width: 3rem;
  height: calc(1.8rem + 2px);
  position: relative;
  overflow: hidden;
  background: transparent;
}

.hamburger span {
  display: block;
  border-bottom: 2px solid #231f20;
  width: 100%;
  position: absolute;
  height: 1px;
  transform: translateX(-110%);
  animation: slide-in-hamburger .5s cubic-bezier(0,0,.002,1) forwards;
}

/* Stop animation after load */
.hamburger.loaded span {
  animation: none;
  transform: none;
}

/* Ordered animation */
.hamburger span:nth-of-type(1) {
  top: 0;
  animation-delay: .5s;
}

.hamburger span:nth-of-type(2) {
  top: calc(50% - 1px);
  width: 2.2rem;
  animation-delay: .6s;
}

.hamburger span:nth-of-type(3) {
  top: calc(100% - 2px);
  animation-delay: .7s;
}
